<main>
  <div id="core-values">
    <div class="container-sm">
      <h1>r-g logistics</h1>
      <h5>core values</h5>
      <p>"Delivering excellence with safety, integrity, and precision. We ensure the seamless movement of goods to drive success for our customers."</p>
    </div>
  </div>
  <div id="about-us">
    <div class="container">
      <div class="grid">
        <div class="item">
          <h1>30</h1>
          <h5>years of experience</h5>
        </div>
        <div class="item">
          <h6>r-g logistics</h6>
          <p>a family owned company with a commitment to excellence as your strategic logistics partner. </p>
        </div>
        <div class="item">
          <p>We offer industry-leading logistics services, customized to each client's shipping needs. When time is of the essence, we can arrange express services with guaranteed delivery times.</p>
          <p>
            As a trusted partner, we provide reliable transportation services to a wide variety of industries that rely on our comprehensive logistics services and solutions
          </p>
        </div>
        <div class="item">
          <h2>150+</h2>
          <h5>our fleet:</h5>
          <p>Our reliable Power units, are equipped with state-of-the-art technology and maintained to the highest standards, to ensure the safe and timely transportation of your goods. </p>
        </div>
        <div class="item">
          <h2>25,000+</h2>
          <h5>truckloads delivered:</h5>
          <p>Our 99.5% successful rate of on-time delivery highlights our unwavering dedication to punctuality and reliability of our efficient services.  </p>
        </div>
        <div class="item">
          <h2>100%</h2>
          <h5>customer satisfaction:</h5>
          <p>We are dedicated to consistently exceeding our clients expectations through the delivery of exceptional logistics solutions and services.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="service-box">
    <div class="grid">
      <div class="item item-top">
        <div class="item-box-content">
          <h4>reaching
            new horizons</h4>
          <p>We are expanding our footprint in North America by embracing cutting-edge logistics industry technologies, and forging strategic partnerships to enhance capabilities.</p>
        </div>
        <div class="item-box-image"></div>
      </div>
      <div class="item item-top">
        <div class="item-box-content">
          <h4>driving force</h4>
          <p>As a forward-thinking logistics company, innovation serves as our driving force, propelling us to navigate challenges, and consistently exceed industry standards.</p>
        </div>
        <div class="item-box-image"></div>
      </div>
      <div class="item item-bottom">
        <div class="item-box-image"></div>
        <div class="item-box-content">
          <h4>top carrier award</h4>
          <p>Our company proudly received the prestigious Top Carrier of the year award from PepsiCo Canada, a testament to our unwavering commitment to excellence. </p>
        </div>
      </div>
      <div class="item item-bottom">
        <div class="item-box-image"></div>
        <div class="item-box-content">
          <h4>dedicated drayage service</h4>
          <p>Designed to streamline and accelerate the movement of goods between ports and warehouses. Our solution provides clients with a cost-effective and efficient option.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="why-us">
    <div class="container">
      <h6>r-g logistics</h6>
      <h3>why choose us</h3>
      <p>Our dedication to punctuality, safety, and client satisfaction, combined with a best-in-class fleet guarantees that your freight will reach their destination seamlessly. This makes us the preferred choice for all your logistics needs.</p>
      <div class="grid">
        <div class="item">
          <div class="image-holder">
            <img src="/assets/our-mission.svg" alt="">
          </div>
          <h5>our mission</h5>
          <p>Our Mission is to provide our customers with dedicated and reliable full-service logistics solutions by becoming an integral part of their strategy by driving out cost and adding value. </p>
        </div>
        <div class="item">
          <div class="image-holder">
            <img src="/assets/our-vision.svg" alt="">
          </div>
          <h5>our vision</h5>
          <p>Our vision is to be recognized as a leading competitive logistics services provider in the industry using proprietary innovative technologies to solve day-to-day logistics challenges.</p>
        </div>
        <div class="item">
          <div class="image-holder">
            <img src="/assets/safety-compliance.svg" alt="">
          </div>
          <h5>safety & compliance</h5>
          <p>Implement stringent measures to industry regulations, ensure the secure and reliable transportation of goods while safeguarding the well-being of our team and clients.</p>
        </div>
        <div class="item">
          <div class="image-holder">
            <img src="/assets/eco-care-solutions.svg" alt="">
          </div>
          <h5>eco care solutions</h5>
          <p>We take pride in our eco-friendly fleet and sustainable practices to reduce carbon footprint and minimize environmental impact while delivering goods efficiently and responsibly.</p>
        </div>
        <div class="item">
          <div class="image-holder">
            <img src="/assets/24hr-dispatch.svg" alt="">
          </div>
          <h5>24 hour dispatch</h5>
          <p>Our 24-hour dispatch service guarantees around-the-clock support to manage and coordinate operations effectively, ensuring rapid response times.</p>
        </div>
        <div class="item">
          <div class="image-holder">
            <img src="/assets/guaranteed-delivery.svg" alt="">
          </div>
          <h5>guaranteed delivery</h5>
          <p>Our logistics company prides itself on our guaranteed delivery service, providing peace of mind to our clients with reliable and on-time transportation.</p>
        </div>
        <div class="item">
          <div class="image-holder">
            <img src="/assets/innovative-solutions.svg" alt="">
          </div>
          <h5>innovative solutions</h5>
          <p>At the forefront of innovation, we employ cutting-edge logistics solutions to optimize real-time tracking, ensuring that goods are delivered seamlessly.</p>
        </div>
        <div class="item">
          <div class="image-holder">
            <img src="/assets/driving-force.svg" alt="">
          </div>
          <h5>driving force </h5>
          <p>We meticulously select experienced professional drivers with a commitment to safety, reliability and exceptional driving skills.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="partners">
    <div class="container-sm">
      <h3>Safety & Compliance Partners</h3>
      <h5>Our logistics safety and compliance certification stand as a testament to our unwavering commitment to upholding the highest industry standards, ensuring that every aspect of our operations prioritizes safety, regulatory adherence, and the well-being of both our team members and your valuable shipments. </h5>
      <div class="grid">
        <div class="item">
          <img src="/assets/ctpat.png" alt="">
        </div>
        <div class="item">
          <img src="/assets/fast-expres.png" alt="">
        </div>
        <div class="item">
          <img src="/assets/pip.png" alt="">
        </div>
        <div class="item">
          <img src="/assets/aci-ace.png" alt="">
        </div>
        <div class="item">
          <img src="/assets/us-canada.png" alt="">
        </div>
        <div class="item">
          <img src="/assets/csa.png" alt="">
        </div>
        <div class="item">
          <img src="/assets/hazmat.png" alt="">
        </div>
        <div class="item">
          <img src="/assets/smartway.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div id="services">
    <div class="container-sm">
      <div class="content-left">
        <h5>what we do</h5>
        <ul>
          <li>r-g</li>
          <li>logistics</li>
          <li>services</li>
        </ul>
        <div class="icon-box">
          <img src="/assets/arrow-down.png" alt="">
        </div>
      </div>
      <div class="content-right">
        <div class="grid">
          <div class="item">
            <img src="/assets/dedicated-logistics.svg" alt="">
            <h5>dedicated logistics</h5>
            <p>Delivering beyond transportation, our logistics services orchestrate a symphony of efficiency, reliability, and tailored solutions, ensuring your goods reach their destination seamlessly.</p>
          </div>
          <div class="item">
            <img src="/assets/brokerage-services.svg" alt="">
            <h5>brokerage services</h5>
            <p>As your logistics brokerage partner, we excel in navigating the complexities of the supply chain, offering expert guidance, seamless coordination, and customized solutions to optimize the efficiency of your cargo movements.</p>
          </div>
          <div class="item">
            <img src="/assets/secured-warehousing.svg" alt="">
            <h5>secured warehousing</h5>
            <p>Our logistics warehousing solutions provide a secure and efficient hub for your shipments, ensuring optimal storage and timely distribution to meet the dynamic demands of your supply chain.</p>
          </div>
          <div class="item">
            <img src="/assets/logistics-consulting.svg" alt="">
            <h5>logistics consultings</h5>
            <p>Professional consulting services with strategic insights and tailored solutions, empowering businesses to optimize their supply chain and enhance operational efficiency.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="banner">
    <div class="content-box">
      <h4>Our goal is to exceed customer expectations</h4>
    </div>
    <div class="image-holder">
      <img src="/assets/truck8.jpg" alt="">
    </div>
  </div>
  <div id="contact-us">
    <div class="container-sm">
      <div class="grid">
        <div class="item-left">
          <div class="item-left-top">
            <h4>get in touch with us</h4>
            <p>Contact us about our logistics services & solutions. We are here to answer all your questions.</p>
          </div>
          <div class="item-left-bottom">
            <h6>call us 24/7</h6>
            <h3>+1 (905) 564-0000</h3>
            <div class="inner-box">
              <div class="inner-box-item">
                <h6>our location</h6>
                <p>8400 Boston Church Rd
                  Milton, ON L9T 9C6</p>
              </div>
              <div class="inner-box-item">
                <h6>write to us</h6>
                <p>info&#64;r-glogistics.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item-right">
          <form action="#">
            <div class="floating-label">
              <input type="text" id="name" name="name" placeholder=" " required>
              <label for="name">Your Name</label>
            </div>

            <div class="floating-label">
              <input type="email" id="email" name="email" placeholder=" " required>
              <label for="email">Your Email</label>
            </div>

            <div class="floating-label">
              <textarea id="message" name="message" placeholder=" " required></textarea>
              <label for="message">Message</label>
            </div>

            <button type="submit" class="send-button">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
