<header [class.small-header]="isScrolled">
  <div class="container-sm">
    <div class="header-logo">
      <a class="logo">r-g logistics</a>
    </div>
    <div class="header-actions">
      <ul>
        <li>
          <a href="#">home</a>
        </li>
        <li>
          <a href="#about-us">about us</a>
        </li>
        <li>
          <a href="#services">our services</a>
        </li>
        <li>
          <a href="#contact-us">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</header>
